<div>
	<script type="text/javascript">
	
    $.backstretch("<%= image_path   'http://images6.fanpop.com/image/photos/33300000/-BATMAN-THE-DARK-KIGHT-RISES-the-dark-knight-rises-33321074-820-974.jpg' %>");
    
	</script>
</div>
<div>
	<script type="text/javascript">
		
	    $.backstretch("<%= image_path   'http://vignette4.wikia.nocookie.net/infinite-loops/images/9/94/500px-Superman.png/revision/latest?cb=20141129211309' %>");
	    
	</script>

</div>