<%= @votos %>
<html>
<head>


	<title></title>
</head>
<body>

<div id="superman">
	<a href="/pages/superman" >
		<img src = 'http://vignette4.wikia.nocookie.net/infinite-loops/images/9/94/500px-Superman.png/revision/latest?cb=20141129211309'>
	</a>

	<form action="/pages/superman_wins"  method="post">
 		<input type="text" name="superman_wins" id="superman_wins" />
 		<input type="submit" name="commit" value="Enviar" />
</form>
</div>
<div id="batman">
	<a href="/pages/batman" >
		<img src = 'http://images6.fanpop.com/image/photos/33300000/-BATMAN-THE-DARK-KIGHT-RISES-the-dark-knight-rises-33321074-820-974.jpg'>
	</a>
	<form action="/pages/batman_wins"  method="post">
 	<input type="text" name="batman_wins" id="batman_wins" />
 	<input type="submit" name="commit" value="Enviar" />
</form>
</div>

</html>


