<h1>This looks like a job for Superman</h1>

<script type="text/javascript">
	
    $.backstretch("<%= image_path   'http://vignette4.wikia.nocookie.net/infinite-loops/images/9/94/500px-Superman.png/revision/latest?cb=20141129211309' %>");
    
</script>
